@model Website.ViewModels.API.LunchPollViewModel
@{ 
    var isActive = ViewBag.IsActive as bool? ?? false;
}

<li id="navbar-poll-@Model.Id" role="presentation" class="@(isActive ? "active" : "")">
    <a href="#" data-poll-id="@Model.Id" data-contains-current-user="@Model.ContainsCurrentUser">@Model.Name</a>
</li>
