@model System.Collections.Generic.ICollection<Website.ViewModels.API.LunchPollViewModel>
@{
    ViewBag.Title = "Lunch Management System";

    var current = Model.FirstOrDefault(m => m.Info.Voters.Contains(User.Identity.Name));
    var currentId = current != null ? current.Id : default(int?); @*mvc5 razor can't into c#6 :(*@
}

<h1>@ViewBag.Title</h1>
<hr />
@Html.React("Page", new
{
    username = User.Identity.Name,
    initialPolls = Model.ToDictionary(p => p.Id),
    initialSelected = currentId
})

@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/typeahead.jquery.js"></script>
    <script src="~/Scripts/bloodhound.js"></script>
    <script src="~/Scripts/react/react-0.13.1.js"></script>
    <script src="~/Scripts/lms.jsx"></script>
    @Html.ReactInitJavaScript()

    <script>
    $(function(){

        $('#current-poll .has-tooltip').tooltip();

        // autocomplete
        var hound = new Bloodhound({
            remote: {
                url: "api/Lunch/Options/%QUERY",
                wildcard: "%QUERY"
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            identify: function(obj) { return obj.Id; },
            sorter: function (a, b) {
                var an = a.Name.toLowerCase(),
                    bn = b.Name.toLowerCase();
                if (an < bn) return -1;
                if (an > bn) return 1;
                return 0;
            }
        });
        hound.initialize();
        $('#option-box').typeahead({
            minLength: 1,
            highlight: true
        }, {
            source: hound.ttAdapter(),
            display: "Name",
        });

    });
    </script>
}