@model System.Collections.Generic.ICollection<Website.ViewModels.API.LunchPollViewModel>
@{
    ViewBag.Title = "Lunch Management System";

    var current = Model.FirstOrDefault(m => m.Info.Voters.Contains(User.Identity.Name));
    var currentId = current != null ? current.Id : default(int?); @*mvc5 razor can't into c#6 :(*@
}

<h1>@ViewBag.Title</h1>
<hr />
@Html.React("Page", new
{
    username = User.Identity.Name,
    userIsGoon = User.IsInRole("Goon"),
    initialPolls = Model.ToDictionary(p => p.Id),
    initialSelected = currentId
})

@section Scripts {
    @Scripts.Render("~/bundles/signalr", "~/bundles/autocomplete", "~/bundles/react")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/lms.jsx"></script>
    @Html.ReactInitJavaScript()

    <script>
    $(function() {
        $('#current-poll .has-tooltip').tooltip();
    });
    </script>
}