@model System.Collections.Generic.ICollection<Website.ViewModels.API.LunchPollViewModel>
@{
    ViewBag.Title = "Lunch Management System";
}

<h1>@ViewBag.Title</h1>
<ul class="list-unstyled">
    @foreach (var poll in Model)
    {
        <li><h4>@Html.RouteLink(poll.Name, "Poll", new { name = poll.Name })</h4></li>
    }
</ul>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginRouteForm("CreatePoll", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <input name="Name" type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">New Crew</button>
        }
    </div>
</div>