@model Website.ViewModels.API.LunchPollViewModel

<div class="row text-center">
    <div id="suggestions" class="col-xs-12">
    @foreach (var row in Model.Options)
    {
        @Html.Partial("_LunchOption", row)
    }
    </div>
</div>
