@model Website.ViewModels.Web.QuoteViewModel

@using (Html.BeginForm("NewQuote", "Quotes", FormMethod.Post, new { Id = "newQuoteForm" }))
{
    <h3>New Quote</h3>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">@Html.LabelFor(m => m.Text, "Text:")</div>
        <div class="col-sm-6">@Html.TextBoxFor(m => m.Text)</div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">@Html.LabelFor(m => m.Author, "Author:")</div>
        <div class="col-sm-6">@Html.TextBoxFor(m => m.Author, new { @class = "typeahead" })</div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-5"><input type="submit" value="Save" class="btn btn-default" /></div>
    </div>
}