@using Website.ViewModels.Web
@model Website.ViewModels.Web.QuoteListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
All Tags:
@foreach (var tag in Model.Tags)
{
    <span style="border-width:1px;border-color:black;border-style:solid;padding:3px;">@tag.Text</span>
}
<br />
Quotes:
<br />
<div class="quotes">
    @foreach (var quote in Model.Quotes)
    {
        @Html.Partial("_Quote", quote)
    }
</div>

@Html.Partial("_NewQuote", new QuoteViewModel())


@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/typeahead.jquery.js"></script>
    <script>
        $(function() {
            var quoteHub = $.connection.quotesHub;
            quoteHub.client.newQuote = function(data) {
                $(".quotes").append(data);
            };
            $.connection.hub.start();


            $(".typeahead").typeahead({
                    minLength: 1,
                    highlight: true,
                }, {
                    name: 'users',
                    source: function(query, cb) {
                        $.getJSON('/api/Users', null, function(result) {
                            var results = [];
                            for (var i in result) {
                                var entry = result[i].UserName;
                                if (entry.indexOf(query) > -1)
                                    results.push({ value: entry });
                            }
                            cb(results);
                        });
                    }
                }
            );
        });

        $("#newQuoteForm").submit(function(event) {
            event.preventDefault();

            $.post('@Url.Action("NewQuote")', $(this).serialize(), function(data, textStatus, jqXHR) {
                //$(".quotes").append(data);
            });
        });
    </script>
}
